{% extends '@products/layouts/main_lay.html.twig' %}

{% block main %}

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TypeName</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col">Controls</th>
        </tr>
        </thead>
        <tbody>
        {% for type in productTypes %}
            <tr>
                <th scope="row">{{ type.id }}</th>
                <td>{{ type.name }}</td>
                <td>{{ type.modifiedAt|date("Y-m-d H:i:s") }}</td>
                <td>{{ type.createdAt|date("Y-m-d H:i:s") }}</td>
                <td>
                    <a type="button" href="{{ url('products_type_modify', {productTypeID: type.id}) }}" class="btn btn-primary">Edit</a>
                    <a type="button" href="{{ url('products_type_delete', {productTypeID: type.id}) }}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}