{% extends '@products/layouts/main_lay.html.twig' %}

{% block main %}

    <form method="{{ form.vars.method }}" action="{{ form.vars.action }}">
        <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
        <div class="form-group">
            <label for="exampleInputEmail1">Name Of The Type</label>
            <input type="text" name="{{ form.name.vars.full_name }}" class="form-control" placeholder="Enter The Type Name" value="{{ form.name.vars.value }}">

            {% for error in form.name.vars.errors %}
                <small class="form-text text-muted error">{{ error.message }}</small>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}