<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('products/css/boots/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('products/css/boots/css/bootstrap.min.css') }}">

    {% block styles %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('products/css/style.css') }}">

    <title>Product Page | {% block title %}{% endblock %}</title>

</head>
<body>

    <div class="container">

        {% include '@products/headers/header-main.html.twig' %}

        {% block main %}{% endblock %}
    </div>

    <script src="{{ asset('products/js/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ asset('products/js/boots/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('products/js/boots/js/bootstrap.bundle.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>