.table .table {
    background-color: inherit;
}
body {
    background-color: #212529f2;
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.navbar.navbar-dark.bg-dark {
    margin-bottom: 30px;
}

.error {
    color: yellow!important;
}

.nav-tabs {
    border-bottom: none !important;
}