<nav class="navbar navbar-dark bg-dark">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ url('products_index') }}">Products Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Product Types</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url('products_type_index') }}">Show All</a>
                <a class="dropdown-item" href="{{ url('products_type_add') }}">Add Type</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url('products_products_index') }}">Show All</a>
                <a class="dropdown-item" href="{{ url('products_product_add') }}">Add Product</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('price_index') }}">Show Sum Price For All Types</a>
        </li>
    </ul>
</nav>