{% extends '@products/layouts/main_lay.html.twig' %}

{% block main %}

    <form method="{{ form.vars.method }}" action="{{ form.vars.action }}">
        <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
        <div class="form-group w-25">
            <label for="exampleFormControlSelect1">Select Type For Ur Product</label>
            <select class="form-control"
                    name="{{ form.product_type.vars.full_name }}">
                {% if form.product_type.vars.value is not empty %}
                    <option value="{{ form.product_type.vars.value }}">{{ form.product_type.vars.value ~ ' - ' ~ form.product_type.vars.data.name }}</option>
                {% endif %}

                {% for option in form.product_type.vars.choices %}
                    <option value="{{ option.value }}">{{ option.value ~ ' - ' ~ option.data.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Name Of The Product</label>
            <input type="text"
                   name="{{ form.name.vars.full_name }}"
                   class="form-control"
                   placeholder="Enter The Type Name"
                   value="{{ form.name.vars.value }}">
            {% for error in form.name.vars.errors %}
                <small class="form-text text-muted error">{{ error.message }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Price (Only numbers with dot - 13.00)</label>
            <input type="text"
                   name="{{ form.price.vars.full_name }}"
                   class="form-control"
                   placeholder="12.02"
                   value="{{ form.price.vars.value }}">
            {% for error in form.price.vars.errors %}
                <small class="form-text text-muted error">{{ error.message }}</small>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}