{% extends '@products/layouts/main_lay.html.twig' %}

{% block main %}

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col">Controls</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price ~'$' }}</td>
                <td>{{ product.modifiedAt|date("Y-m-d H:i:s") }}</td>
                <td>{{ product.createdAt|date("Y-m-d H:i:s") }}</td>
                <td>
                    <a type="button" href="{{ url('products_product_modify', {productTypeID: product.id}) }}" class="btn btn-primary">Edit</a>
                    <a type="button" href="{{ url('products_product_delete', {productTypeID: product.id}) }}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}