{% extends '@products/layouts/main_lay.html.twig' %}

{% block main %}

    {% if productTypes is not empty %}
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TypeName</th>
                <th scope="col">Products</th>
            </tr>
            </thead>
            <tbody>
            {% for type in productTypes %}
                <tr>
                    <th scope="row">{{ type.id }}</th>
                    <td>{{ type.name }}</td>
                    <td>
                        {% if type.products is not empty %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for product in type.products %}
                                    <tr>
                                        <th scope="row">{{ product.id }}</th>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.price ~ '$' }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            Empty
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    TypeName
                </th>
                <th scope="col">
                    Products
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    #
                </th>
                <td>
                    No Data In the Table
                </td>
                <td>
                    #
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}