{% extends '@products/layouts/main_lay.html.twig' %}

{% block main %}

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Type Name</th>
            <th scope="col">Sum Price</th>
        </tr>
        </thead>
        <tbody>
        {% for type in result %}
            <tr>
                <th scope="row">{{ type.type_name }}</th>
                <td>{{ type.count_price ~ '$' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}